allow system_server { knv_device pmqos_device }:chr_file rw_file_perms;
allow system_server sysfs_devices_tegradc:dir search;
allow system_server sysfs_devices_nvavp:file { open write };
allow system_server sysfs_modules_tegrafuse:file r_file_perms;

# Access .gps.interface.pipe.to_gpsd.
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:fifo_file { setattr rw_file_perms create };

# text relocs
#allow system_server system_file:file execmod;
