import init.grouper.power.rc
import init.grouper.sensors.rc
import init.grouper.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    symlink /sdcard /storage/sdcard0

    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

on early-boot
    setprop ro.audio.flinger_standbytime_ms 15000

on fs
    mount_all /fstab.grouper

on post-fs-data
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    # Bluetooth UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth net_bt_stack /dev/ttyHS2

    # Bluetooth power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # Bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bdaddr"

    # Bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite

    # NFC
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544

    # Backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

    # DIDIM
    chown system system /sys/class/graphics/fb0/device/smartdimmer/enable
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggressiveness

    # Default mmc queue settings    
    # Set read ahead
    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    # Set IO scheduler
    write /sys/block/mmcblk0/queue/scheduler cfq
    # Forces the completion to run on the requesting cpu
    write /sys/block/mmcblk0/queue/rq_affinity 2
    # Disable entropy
    write /sys/block/mmcblk0/queue/add_random 0

    # GPS
    mkdir /data/gps 1770 gps system
    write /sys/class/gpio/export 162
    write /sys/class/gpio/gpio162/value 0
    write /sys/class/gpio/gpio162/direction out
    chown gps system /sys/class/gpio/gpio162/value
    chmod 0644 /sys/class/gpio/gpio162/value
    chown gps system /dev/ttyHS1
    chmod 0660 /dev/ttyHS1

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# Recovery daemon: configure MSC partition
service recoveryd /system/bin/recoveryd /dev/block/platform/sdhci-tegra.3/by-name/MSC
    disabled
    class main
    user root
    group root
    oneshot

# Bugreport is triggered by holding down volume down and volume up
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 115 114

service gpsd /vendor/bin/gpsd -c /system/etc/gps.xml
    class main
    socket gps seqpacket 0660 gps system
    user gps
    group system wakelock inet sdcard_rw

on property:sys.shutdown.requested=1recovery
    start recoveryd

service tf_daemon /system/bin/tf_daemon -storageDir /data/tf -d
    class main
    user root
    group shell

# tf_daemon may restart due to /data/tf not existing yet
on property:init.svc.tf_daemon=restarting
    mkdir /data/tf
