on boot
    # Power management settings
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/system/cpu/cpufreq/cpuload/enable
    chown system system /sys/devices/system/cpu/cpuquiet/current_governor
    # Setting the cpuquiet governor resets the sysfs permissions, so we set it here
    write /sys/devices/system/cpu/cpuquiet/current_governor balanced
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    restorecon_recursive /sys/devices/system/cpu/cpuquiet/balanced
    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/platform/host1x/nvavp/boost_sclk
    chown system system /sys/devices/tegradc.0/enable
    chown system system /sys/devices/tegradc.1/enable
    chmod 0660 /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/platform/host1x/nvavp/boost_sclk
    chmod 0660 /sys/devices/tegradc.0/enable
    chmod 0660 /sys/devices/tegradc.0/enable

    # Throughput hinting is designed to save power by slowing down the gpu
    # if it is beating the desired frame.  Without hinting, the gpu frequency
    # scaler operates just by watching the load.
    # When enabled, throughput hinting is only used if there is only one "app"
    # running, which is counted by the number of egl contexts that are
    # bound to window surfaces.  However, the current implementation flipflops
    # the app count when an app is animating content on two window surfaces
    # simulataneously.  This amounts to many alternating calls to eglMakeCurrent
    # on one context and two different surfaces.  When the app count flip flops
    # we get inconsistent provision of hints, and this prevents the gpu frequency
    # from scaling up as it should.
    # Until this is fixed, throughput hinting is universally disabled here.
    # Note that most of the time on Molly the hinting was unused anyway
    # since the live wallpaper keeps its context alive even while
    # invisible so the app count is always >= 2.
    # In order to use the hinting we'll need to have the wallpaper tear down
    # down its context appropriately.
    write /d/scaling/use_throughput_hint 0

    # Conservative governor settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 95
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 50
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step 3
    restorecon_recursive /sys/devices/system/cpu/cpufreq/conservative

    # Interactive governor settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/max_boost
    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive

